
section {
  #allTweets {
    border: 1px solid white;
  }
}

.tweet {
  background-color: white;
  border-radius: 10px;
}

article {

  &.tweet {

    border: 1px solid silver;
    margin-bottom: 15px;

    &:hover {

      border: 1px solid black;

      a {
        color: #39dbdb;
        visibility: visible;
      }

      header {

        .name {
          color: black;
        }

        .logo {
          transform: scale(1.1);
        }

      }

    }

    a {

      &:link {
        visibility: hidden;
      }

    }

    p {
      background-color: white;
      padding: 10px;
      word-wrap: break-word;
    }

    header {

      background-color: whitesmoke;
      overflow: auto;
      padding: 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

      .name {

        float: left;
        font-size: 20px;
        font-weight: bold;
        color: gray;

      }

      .login {
        float: right;
        color: gray;
        padding-top: 3px;
      }

      .logo {

        float: left;
        margin-right: 10px;

      }

    }

    footer {

      padding: 7px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border-top: 1px solid silver;
      overflow: auto;

      i {
        float: right;
        margin-right: 5px;
        text-decoration: none;
      }

      .time {
        float: left;
      }
    }
  }
}
