<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <title>Tweeter - Home Page - EJS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Roboto Condensed added -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,700,700i" rel="stylesheet">

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/style.css" type="text/css" />

    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-2.2.3.min.js"></script>

    <!-- Composer Char Counter JS -->
    <script type="text/javascript" src="/scripts/composer-char-counter.js"></script>

    <!-- Composer Char Counter JS -->
    <script type="text/javascript" src="/scripts/moment.min.js"></script>

    <!-- App JS -->
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>
  <body>

    <!-- Top nav bar (fixed) -->
    <nav id="nav-bar">
      <a href="/"><img class="logo" src="/images/bird.png" width="80px" height="80px"></a>
      <span class="header">Tweeter</span>
      <span class="compose">
        <button class=newTweet><i class="fas fa-pencil-alt"></i> Compose</button>
        <button class=register><i class="fas fa-plus"></i> Register</button>
        <button class=login><i class="fas fa-user"></i> Login</button>
        <button class=logout><i class="fas fa-times"></i> Logout</button>
      </span>
    </nav>

    <!-- Page-specific (main) content here -->
    <main>

      <% if (myUser) { %><p>Welcome, <%=myName%> (<%=myUser%>)</p><% } %>

      <p>

