
<% include partials/_header.ejs %>

      <!-- New tweet container -->
      <section class="new-tweet">
        <h2>Compose Tweet</h2>
        <form action="/tweets" method="POST">
          <textarea name="text" placeholder="What are you humming about?"></textarea>
          <input type="submit" value="Tweet">
          <span class="counter">140</span>
        </form>
      </section>

      <!-- List of all tweets container -->
      <section id="allTweets"></section>

<% include partials/_footer.ejs %>
